@import "src/assets/variables";

.container{
  padding: 20px;
  display: flex;
  width: 100%;
  gap: 20px;
  border-top: 1px solid $COLOR_NAUTICAL;
}
.textInput{
  overflow-y: auto;
  min-height: 40px;
  max-height: 180px;
  padding: 10px;
  width: 100%;
  overflow-wrap: break-word;
  outline: none;
  background-color: rgba($COLOR_BLACK, 0.7);
  border: none;
  border-radius: 10px;
  color: $COLOR_WHITE;
  &::placeholder{
    color: rgba($COLOR_WHITE, 0.5);
  }
  resize: none;
  font-family: inherit;
  font-weight: inherit;
  &::-webkit-scrollbar-thumb {
    background: rgba($COLOR_NAUTICAL, 0.5);
    background-size: contain;
    border-radius: 5px;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  height: 50px;
}
.icon{
  color: rgba($COLOR_NAUTICAL, 0.7);
  &:hover{
    color: rgba($COLOR_NAUTICAL, 1);
  }
}