@import "src/assets/variables";

.mainContainer{
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: 1px solid $COLOR_NAUTICAL;
  justify-content: space-between;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.subHeader{
  text-align: center;
  font-size: 0.9em;
  color: $COLOR_NAUTICAL;
  border-bottom: 1px solid rgba($COLOR_NAUTICAL, 0.4);
}