@import "src/assets/variables";

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.loader {
  border: 5px solid transparent;
  border-top-color: $COLOR_NAUTICAL;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: loaderSpin 1s linear infinite;
}

@keyframes loaderSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}