@import "src/assets/variables";

.container{
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  height: 60px;
  z-index: 1;
  background-color: $COLOR_DARK_THEME_BACKGROUND;
  border-bottom: 1px solid $COLOR_NAUTICAL;
}

.recipientContainer{
  display: flex;
  gap: 10px;
  align-items: center;
}

.userInfo{
  display: flex;
  gap: 10px;
  //width: 100%;
  align-items: center;
  color: $COLOR_WHITE;
  font-size: 1.5em;
}

.isOnline{
  border-radius: 50%;
  height: 10px;
  width: 10px;
}