@import "src/assets/variables";

.container{
  display: flex;
  gap: 10px;
  margin: 10px;
  flex-direction: column;
  max-width: 400px;
}
.textMessageContainer{
  background-color: $COLOR_LIGHT_THEME_SECONDARY;
  color: $COLOR_BLACK;
  border-radius: 5px;
  padding: 5px 10px;
  overflow: hidden;
  word-wrap: break-word;
  margin-left: 10px;
}
.infoContainer{
  display: flex;
  gap: 10px;
  color: $COLOR_PEACH;
  align-items: center;
}
.timeContainer{
  color: rgba(gray, 1);
  font-size: 0.7em;
  text-align: center;
}