@import "src/assets/variables";

.container{
  display: block;
  position: relative;
  margin: 10px;
  max-width: 400px;
  background-color: $COLOR_LIGHT_THEME_SECONDARY;
  color: $COLOR_BLACK;
  border-radius: 5px;
  padding: 5px 10px 20px;
  overflow: hidden;
  word-wrap: break-word;
  clear: both;
  min-width: 200px;
}

.infoContainer{
  display: flex;
  gap: 5px;
  position: absolute;
  align-items: center;
  right: 10px;
  justify-content: center;
}

.timeContainer{
  color: rgba(gray, 1);
  font-size: 0.7em;
  text-align: center;
}

.isMessageUnRead{
  font-size: 1em;
  color: gray;
}

.isMessageRead{
  font-size: 1em;
  color: blue;
}