$COLOR_NAUTICAL: #05e4ee;
$COLOR_WHITE: white;
$COLOR_BLACK: black;
$COLOR_GREY: #272727;
$COLOR_DARK_THEME_BACKGROUND: #222831;
$COLOR_DARK_THEME_MAIN_BACKGROUND: #393E46;
$COLOR_DARK_THEME_PRIMARY: white;
$COLOR_DARK_THEME_SECONDARY: #EEEEEE;
$COLOR_LIGHT_THEME_BACKGROUND: #F4EEFF;
$COLOR_LIGHT_THEME_MAIN_BACKGROUND: #DCD6F7;
$COLOR_LIGHT_THEME_PRIMARY: #424874;
$COLOR_LIGHT_THEME_SECONDARY: #A6B1E1;
$COLOR_ERROR: #e32636;
$MEDIA_QUERY_SMALL: 576px;